body {
  margin: 0;
  padding: 0;
}

#dimmedPop {
  z-index: 400;
  position: fixed;
  top: 0;
  left: 0;
  overflow: auto;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  box-sizing: border-box;
  padding: 50px;
}

.main_popup {
  z-index: 500;
  position: fixed;
  top: 50px;
  left: 20px;
  width: 480px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  background: #fff;
  box-sizing: border-box;
  overflow: hidden;
  padding-bottom: 50px;
}

.main_popup .pop_head {
  position: relative;
  width: 100%;
  height: 50px;
  background: #ccc;
  box-sizing: border-box;
  padding: 10px;
}

.main_popup .pop_body {
  height: 100%;
  font-size: 15px;
  line-height: 24px;
  color: #555;
  background-color: #f8f88f;
  box-sizing: border-box;
  word-break: break-all;
  overflow: auto;
}

.main_popup .pop_body .content {
  width: 100%;
  height: 100%;
  background-color: #f8f88f;
  box-sizing: border-box;
  float: left;
}

.main_popup .pop_bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50px;
  background: #ccc;
  box-sizing: border-box;
}

@media screen and (max-width: 1023px) {
  .main_popup {
    width: auto;
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 10px;
    overflow: hidden;
    padding-bottom: 100px;
  }
}
